/* Components/LandingPage.css */
.landing-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://example.com/your-background-image.jpg'); /* Aquí colocas la URL de tu imagen de fondo */
    background-size: cover;
    background-position: center;
  }
  
  .landing-page-content {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .landing-title {
    font-size: 3rem;
    color: #1890ff; /* Color primario de Ant Design */
    margin-bottom: 20px;
  }
  
  .landing-text {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 40px;
  }
  
  .landing-buttons .landing-button {
    margin: 0 10px;
  }
  